In [4]:
#Importing the useful libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings

%matplotlib inline
warnings.filterwarnings('ignore')

In [5]:
#Importing the Fish dataset
dataset = pd.read_csv('Fish.csv')
#Reading the top 5 data to check the data
dataset.head(5)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [6]:
#Defining the Independent and dependent Variable
X = dataset[[ 'Weight', 'Length1', 'Length2', 'Length3', 'Height','Width']]
y = dataset['Species']
print("X: ", X)
print("y: ", y)

X:       Weight  Length1  Length2  Length3   Height   Width
0     242.0     23.2     25.4     30.0  11.5200  4.0200
1     290.0     24.0     26.3     31.2  12.4800  4.3056
2     340.0     23.9     26.5     31.1  12.3778  4.6961
3     363.0     26.3     29.0     33.5  12.7300  4.4555
4     430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936
155    13.4     11.7     12.4     13.5   2.4300  1.2690
156    12.2     12.1     13.0     13.8   2.2770  1.2558
157    19.7     13.2     14.3     15.2   2.8728  2.0672
158    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]
y:  0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
154    Smelt
155    Smelt
156    Smelt
157    Smelt
158    Smelt
Name: Species, Length: 159, dtype: object

In [7]:
#Splitting into Train and Test dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=45)

In [8]:
#Defining the ML Model
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression(random_state = 0, max_iter=100)
log_model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
X_pred = log_model.predict(X_test)
print(X_pred)

['Perch' 'Parkki' 'Smelt' 'Pike' 'Perch' 'Bream' 'Pike' 'Perch' 'Perch'
 'Bream' 'Perch' 'Pike' 'Bream' 'Pike' 'Parkki' 'Perch' 'Smelt' 'Smelt'
 'Pike' 'Parkki' 'Smelt' 'Roach' 'Pike' 'Perch' 'Perch' 'Perch' 'Perch'
 'Parkki' 'Pike' 'Bream' 'Roach' 'Bream' 'Smelt' 'Perch' 'Perch' 'Pike'
 'Perch' 'Bream' 'Perch' 'Roach' 'Bream' 'Perch' 'Bream' 'Bream' 'Roach'
 'Perch' 'Bream' 'Perch']

In [12]:
# Save the model as serialized object pickle
import pickle

with open('logreg_model.pkl', 'wb') as file:
    pickle.dump(log_model, file)